body{
    margin: 0%;
}
html{
    background-color: rgb(248, 248, 248);
    background-image: url('assets/background.jpg');
}
*{
    font-family: 'Spline Sans', sans-serif;
}
.title_header{
    text-align: center;
    background-color: rgb(120, 145, 221);
    padding: 5px;
    margin-bottom: 100px;
    height: 80px;
    color: white;
    font-family: 'Heebo', sans-serif;
    
}
h2{
    font-size: 1.5rem;
    position: relative;
    text-align: center;

}
.search-wrapper {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    margin-bottom: 70px;
    
}
.search-wrapper label{
    font-size: 40px;
}
input {
    font-size: 2rem;
    width: 50%;
}
.user-cards {
    display: grid;
    gap: 30px;
    margin-top: 1rem;
    margin-left: 300px;
    margin-right: 300px;  
}
.profpic{
    height: 150px;
    width: 150px;
    position: relative;

}
.card {
    position: relative;
    border: 2px solid black;
    background-color: rgb(120, 145, 221);
    padding: .5=rem;
    text-align: center;
    border-radius: 35px;
    width: 50%;
    left: 25%;
    box-shadow: 15px 15px rgb(48, 48, 48);
    height: 300px;
}

.card > .header {
    font-size: 2.5rem;
    margin-bottom: .25rem;
}

.card > .body {
    margin-bottom: .25rem;
    font-size: 1rem;
    color: rgb(252, 250, 250);
}
.card > .phone{
    font-size: .9rem;
    color: rgb(12, 12, 12);
}
.card > .website{
    font-size: .9rem;
    color: rgb(12, 12, 12);
}
.hide {
    display: none;
}
#search{
    border-radius: 15px;
}
